.main {
  flex: 1;
  padding: 40px;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.items {
  margin-top: 24px;
}

.items__text {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin: 0 0 28px 0;
}

.items__list {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  list-style: none;
  padding: 0;
  margin: 0;
}
