.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f3f3;
  padding: 16px 40px;
}

.footer__developer {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  color: #000;
  margin: 0;
}

.footer__year {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  color: #000;
  margin: 0;
}
